@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Bree serif";
  background: #151320;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-container{
    height: 200px;
    width: 200px;
    position: absolute;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    background: #1c1b29;
    overflow: hidden;
}
.bg-container::before{
    content: "";
    height: 150%;
    width: 150%;
    position: absolute;
    top: -25%;
    left: -25%;
    background: conic-gradient(gold 20deg, transparent 120deg);
    animation: rotate 8s infinite linear;
}
@keyframes rotate{
    50%{
        transform: rotate(-360deg);
    }
}
.bg-container::after{
    content: "Tech outlook";
    height: 94%;
    width: 94%;
    position: absolute;
    background: #1c1b29;
    border-radius: 100%;
    top: 3%;
    left: 3%;
    color: white;
    display: grid;
    place-items: center;
    letter-spacing: 1px;
    font-size: 26px;
}














